<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestSize="true"
        beStrictAboutChangesToGlobalState="true">
    <testsuites>
        <testsuite name="behaviour">
            <directory>src/Test</directory>
            <directory>src/*/Test</directory>
        </testsuite>
    </testsuites>
</phpunit>